.pina{
    width: 600px;
    height: 600px;
    margin-top: 100px;
    margin-left: 100px;
}
.home{
    text-align: center;
    margin-bottom: 300px;
}
.home-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
nav{
    display:flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgrey;
}
.home-head{
    font-size: 50px;
}
.home-par{
    font-size: 1.5rem;
}
.article-form{
    border: 2px solid;
    height: 70px;
    padding: 25px;
    background-color: whitesmoke;
}
input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
button{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.article{
    border: 2px solid;
    width: 300px;
    height: 750px;
    margin-left: 90px;
    margin-top: 15px;
    word-wrap: break-word;
    background-color: white;
}
.image{
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
   
}
.btn{
    background-color: red;
    margin-left: 100px;
}
.comments{
    text-align: center;
    padding: 50px;
}
textarea{
    padding: 20px;
    width: 50%;
    height: 50px;
    border: 2px solid;
}
.butn{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 10%;
}
